html {
  font-size: 14px;
}

header, footer {
    background-color: #343a40;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-color {
    color: rgba(255, 255, 255, 0.5)
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}