
@{

    //ViewData["Lst"] = new SelectList(lr2.Controllers.Home._listDemo, "ListItemValue", "ListItemText");
    ViewData["Title"] = "Главная страница";
    
    

}

<h2>Hello world!</h2>

<main class="container">
    <h2>@ViewData["Text"]</h2>
    <h4>Список</h4>
    <ol type="A">
        @for(int i=0; i<5; i++)
        {
            <li>Элемент @i списка</li>
        }
    </ol>
    <ol>Элмент 1 списка</ol>
    <ol>Элмент 2 списка</ol>
    <h3>Форма</h3>
    <form method="post">
        <select asp-items="@ViewData["Lst"] as SelectList"></select>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="col-sm-6">
                    <input class="form-check-input" type="checkbox" name="gridCheck" id="gridCheck1" value="option1">
                    <label class="form-check-label" for="gridCheck1">
                        Чек-бокс1
                    </label>
                    <input class="form-check-input" type="checkbox" name="gridCheck" id="gridCheck2" value="option2" checked>
                    <label class="form-check-label" for="gridCheck2">
                        Чек-бокс2
                    </label>
                </div>
            </div>
        </div>
        <fieldset class="form-group row">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0"></legend>
                <div class="col-sm-6">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                        Радио1
                    </label>
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        Радио2
                    </label>
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                    <label class="form-check-label" for="gridRadios3">
                        Радио3
                    </label>

                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Логин</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="gridEmaleInput" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="gridPassInput" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </form>
    </main>


